.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.input-field {
  margin-bottom: 15px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.login-button {
  width: 100%;
}
